.find {
    margin-top: 50px;
}

.find .find__header-list {
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
}

.find .header-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find .header-btn__title {
    display: block;
    margin-top: 20px;
    font-size: 14px;
}

.find .header-btn__icon {
    font-size: 12px;
}

.find .find__recommended {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #f7f7f7;
}

.find .find__title {
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 20px;
}

.find .friend__add-btn {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
}