@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "find.css";
@import "more.css";
@import "setting.css";
@import "chat.css";
@import "mobile.css";

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 10px 20px;
    color: #020202;
    font-family: 'Open Sans', -apple-system, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

main {
    animation: fadeIn 0.5s ease-in-out;
}